/*===========================================
Colors
===========================================*/
$base-color: #fff;
$body-background-color: #eaebf5;
// $theme-color: #4012C5;
$object-color: #6E6F74;

/*===========================================
Fonts
===========================================*/
$base-font: 'SF Pro Display'; /* Base font */
$base-font-weight: normal;
$base-font-style: normal;

$base-font-size: 10px;
